Flow-Transportation-GA/Microsoft.Flow/flows/80342932-4ee0-424b-b25e-b118fbf3f86e/definition.json
{"name":"ea51b279-6448-454c-ba6d-3be02d133f31","id":"/providers/Microsoft.Flow/flows/ea51b279-6448-454c-ba6d-3be02d133f31","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Request Forms Transportation","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"b1ebd69d-7c43-40ca-b067-08f7b2f3d0ee","type":"User","tenantId":"396c58f0-a35c-4292-b77d-251e2626a985"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-08-29T12:09:44.1535237Z","connectionKeySavedTimeKey":"2024-08-29T12:09:44.1535237Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Ketika_tanggapan_baru_dikirim":{"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"a5e144e9-dee7-4c74-a51c-2e398bc3f213"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"form_id":"8FhsOVyjkkK3fSUeJiaphZ3W67FDfMpAsGcI97Lz0O5UM09CV0xBRFBEN1lBVlNGR0IxQVdLTVBRNy4u"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"authentication":"@parameters('$authentication')"}}},"actions":{"Dapatkan_detail_tanggapan":{"runAfter":{},"metadata":{"operationMetadataId":"ba5a59f3-90f4-4af7-a042-d40ace713c85"},"type":"OpenApiConnection","inputs":{"parameters":{"form_id":"8FhsOVyjkkK3fSUeJiaphZ3W67FDfMpAsGcI97Lz0O5UM09CV0xBRFBEN1lBVlNGR0IxQVdLTVBRNy4u","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"authentication":"@parameters('$authentication')"}},"Get_Email_Respond's_":{"runAfter":{"Dapatkan_detail_tanggapan":["Succeeded"]},"metadata":{"01NV5354ZKTGUEE2AEJ5BKRDQ3SSWAWHRC":"/Document Project/DATA USER.xlsx","tableId":"{3861173F-D510-4299-9EF6-1664DFD94FDA}","operationMetadataId":"54763d20-afa3-49ef-8213-73ca0edfc685"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!XJDfAIeLy0aeIMbEN3WQJ9ukwNppv79Hk75uuWzqvRW2qIIUVvzBT7QtZFjmdt7W","file":"01NV5354ZKTGUEE2AEJ5BKRDQ3SSWAWHRC","table":"{3861173F-D510-4299-9EF6-1664DFD94FDA}","idColumn":"Email","id":"@body('Dapatkan_detail_tanggapan')?['responder']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"getITFORMRequest":{"runAfter":{"Get_Email_Div_Head":["Succeeded"]},"metadata":{"operationMetadataId":"5853feca-f7f7-403d-8234-21e837184e8f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"GetTransportationFormsRequest","type":"string","value":"@body('Dapatkan_detail_tanggapan')?['rf42275de4b574506b6c66a5cca3902ca']"}]}},"Switch_To_Transportation_Requirement":{"runAfter":{"getITFORMRequest":["Succeeded"]},"cases":{"Taxi_(Bluebird)_Request":{"case":"Taxi (Bluebird)","actions":{"Switch_Taxi_(BlueBird)":{"metadata":{"operationMetadataId":"3a79f044-716b-4984-a0ec-c2ad2c78dd44"},"type":"SetVariable","inputs":{"name":"GetTransportationFormsRequest","value":"<ol>Vehicle Options :  @{body('Dapatkan_detail_tanggapan')?['rf42275de4b574506b6c66a5cca3902ca']} </ol>\n<ol>Required Date : @{body('Dapatkan_detail_tanggapan')?['r12592dd22608421bbf1d6742825d1d9e']}</ol> \n<ol>DetailTrip : @{body('Dapatkan_detail_tanggapan')?['rf43aef90483347fda4115212429862c2']}</ol> \n<ol> Total Trips :@{body('Dapatkan_detail_tanggapan')?['rc5459dd2d5854ddf978adcd1d3f7d4d3']}</ol> \n<ol>Number Handphone : @{body('Dapatkan_detail_tanggapan')?['r007edef785684dc5bf7998fa9c37ef0c']}</ol> \n<ol>Purpose Trip : @{body('Dapatkan_detail_tanggapan')?['r7030737f960a4c269c042e115626ce57']} </ol>\n<ol>Code Budget : @{body('Dapatkan_detail_tanggapan')?['r6f4a6f951f7f4d67b3c49a5ce114cde4']} </ol> \n\n"}},"HTML_Taxi_To_Text":{"runAfter":{"Switch_Taxi_(BlueBird)":["Succeeded"]},"metadata":{"operationMetadataId":"0ce704fb-d832-4385-a2b2-f974e1836367"},"type":"OpenApiConnection","inputs":{"parameters":{"Content":"<p>@{variables('GetTransportationFormsRequest')}</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","connectionName":"shared_conversionservice","operationId":"HtmlToText"},"authentication":"@parameters('$authentication')"}}}},"Car_Rental_Request":{"case":"Car Rental","actions":{"Switch_Request_Car_Rental":{"metadata":{"operationMetadataId":"f03f9eb9-99c4-4cfd-a2a3-a39aceeb9973"},"type":"SetVariable","inputs":{"name":"GetTransportationFormsRequest","value":"<span>Vehicle Options : @{body('Dapatkan_detail_tanggapan')?['rf42275de4b574506b6c66a5cca3902ca']}</span>\n<ol> Car Type : @{body('Dapatkan_detail_tanggapan')?['r954486a454c34af0b04b99d8e6d5cf4a']} </ol>\n<ol> List Car Model : @{body('Dapatkan_detail_tanggapan')?['rc6e4ef1d05e645f6a2cd0726eee47317']} </ol>\n<ol> Usage Period From : @{body('Dapatkan_detail_tanggapan')?['r681e1db289cf4765a661f9bc478ccf5d']}</ol>\n<ol> Usage Period To : @{body('Dapatkan_detail_tanggapan')?['rc5c3d0015cd744a68473781480d8011e']} </ol>\n<ol> Pickup Location : @{body('Dapatkan_detail_tanggapan')?['rcb054db6ae92434bbbcd0bfc0f0c0dd9']}</ol>\n<ol> Pickup Time : @{body('Dapatkan_detail_tanggapan')?['r733258e7ebc648b18e04475569e57ea0']}</ol>\n<ol> Budget Code : @{body('Dapatkan_detail_tanggapan')?['r7952877b31ab4f0083b38dc15b72c380']}</ol>\n<ol> Number Handphone  : @{body('Dapatkan_detail_tanggapan')?['rd32d9300acfa4889a61b478d7c83c814']}</ol>\n<ol> Remark : @{body('Dapatkan_detail_tanggapan')?['r8467d9d6b0f24b27abbf7e98c928642b']}</ol>\n"}},"HTML_Car_Rental_To_Text":{"runAfter":{"Switch_Request_Car_Rental":["Succeeded"]},"metadata":{"operationMetadataId":"64b19adb-41a1-4ebb-9652-9dc223f1ddf7"},"type":"OpenApiConnection","inputs":{"parameters":{"Content":"<p>@{variables('GetTransportationFormsRequest')}</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","connectionName":"shared_conversionservice","operationId":"HtmlToText"},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@variables('GetTransportationFormsRequest')","metadata":{"operationMetadataId":"9e29606c-8ab6-4197-a20e-87763281522a"},"type":"Switch"},"Get_Email_Dept_Head_":{"runAfter":{"Get_Email_Respond's_":["Succeeded"]},"metadata":{"01NV5354ZMYMNHSLQOSVCZ2YHTYQ3S763D":"/DATA TRANSPORTATION FORMS/Data_FormsTransportation.xlsx","tableId":"{1BEDDF83-6EE7-4A1B-8D97-55620698D2B2}","01NV5354YI5QD3BSNZBVEZOREIXCFN2BVU":"/Document Project/DATA DEPT HEAD.xlsx","operationMetadataId":"a2340a8b-6690-4f29-aa32-3f46b7a2801f"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!XJDfAIeLy0aeIMbEN3WQJ9ukwNppv79Hk75uuWzqvRW2qIIUVvzBT7QtZFjmdt7W","file":"01NV5354YI5QD3BSNZBVEZOREIXCFN2BVU","table":"{1BEDDF83-6EE7-4A1B-8D97-55620698D2B2}","idColumn":"Department","id":"@body('Get_Email_Respond''s_')?['Department']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Get_Email_Div_Head":{"runAfter":{"Get_Email_Dept_Head_":["Succeeded"]},"metadata":{"01NV5354ZMYMNHSLQOSVCZ2YHTYQ3S763D":"/DATA TRANSPORTATION FORMS/Data_FormsTransportation.xlsx","tableId":"{FD1FC519-D1E3-41AE-BB58-C6F07717B4DA}","01NV535473RJ654IFOLZDZNNG2QMLM67QN":"/Document Project/DATA DIV.xlsx","operationMetadataId":"fdffad97-d39d-44f1-89e0-de2b102d916a"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!XJDfAIeLy0aeIMbEN3WQJ9ukwNppv79Hk75uuWzqvRW2qIIUVvzBT7QtZFjmdt7W","file":"01NV535473RJ654IFOLZDZNNG2QMLM67QN","table":"{FD1FC519-D1E3-41AE-BB58-C6F07717B4DA}","idColumn":"Division","id":"@body('Get_Email_Respond''s_')?['Division']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Condition_Departement_Head_Approve_And_Reject":{"actions":{"Notif_Approve_Dept_Head_To_User":{"metadata":{"operationMetadataId":"72fc6356-e16b-45ba-9e6b-c6b9d230e5a7"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@body('Get_Email_Respond''s_')?['EMAIL']","emailMessage/Subject":"Approved Departement Head ( Request GA - Transportation Forms )","emailMessage/Body":"<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Dear </strong></b>@{body('Get_Email_Respond''s_')?['Full Name']}</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">We are pleased to inform you that your Transportation Form Request has been approved by the Departement Head.</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Request Transportation Form :</p><p class=\"editor-paragraph\">@{variables('GetTransportationFormsRequest')}</p><br><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">@{body('Signature_-_GA')}</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365-3","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Approval_Div_Head_User":{"runAfter":{"Notif_Approve_Dept_Head_To_User":["Succeeded"]},"metadata":{"operationMetadataId":"e6de51c5-520b-4517-bb46-d95930e8c580"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalType":"BasicAwaitAll","WebhookApprovalCreationInput/title":"GA - Transportation Form Approval  ( Division Head )","WebhookApprovalCreationInput/assignedTo":"@body('Get_Email_Div_Head')?['EMAIL']","WebhookApprovalCreationInput/details":"Dear Bapak/Ibu  @{body('Get_Email_Div_Head')?['Full Name']}\n\nGreetings,\nI hope this email finds you well. I am requesting your approval regarding \nForms Transportation Request.\n\nPersonal Data Completion Form:\n@{body('Data_User_')}\n\nRequest Transportation Form : \n@{body('HTML_Taxi_To_Text')}\n@{body('HTML_Car_Rental_To_Text')}\n\nPlease carefully examine and evaluate this application. \nIf there are any discrepancies or further clarification is required, I am prepared to\nprovide the necessary information.\n\nThank you for your attention and cooperation in responding to this request.\n\nBest regards\n@{body('Get_Email_Respond''s_')?['Full Name']}","WebhookApprovalCreationInput/requestor":"@body('Get_Email_Respond''s_')?['EMAIL']","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"authentication":"@parameters('$authentication')"}},"Condition_Division_Head_Approve_And_Reject":{"actions":{"Condition_PIC_GA_Approve_And_Reject":{"actions":{"Notif_Approve_PIC_GA_To_User":{"metadata":{"operationMetadataId":"d6209ddb-499a-4981-83fc-ec104f559b20"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@body('Get_Email_Respond''s_')?['EMAIL']","emailMessage/Subject":"Approved PIC GA ( Request GA - Transportation Forms )","emailMessage/Body":"<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Dear </strong></b>@{body('Get_Email_Respond''s_')?['Full Name']}</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">We are pleased to inform you that your GA Form Request has been approved by the PIC GA.</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Request Transportation Form :</p><p class=\"editor-paragraph\">@{variables('GetTransportationFormsRequest')}</p><br><p class=\"editor-paragraph\">Thank you for your request. &nbsp;This request will be forwarded to Technician</p><p class=\"editor-paragraph\">@{body('Signature_-_GA')}</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365-3","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Approval_PIC_GA_":["Succeeded"]},"else":{"actions":{"Notif_Rejected_PIC_GA_To_User":{"metadata":{"operationMetadataId":"1dd7343f-500c-442a-9b12-43e1a0c270a2"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@body('Get_Email_Respond''s_')?['EMAIL']","emailMessage/Subject":"Rejected Request ( GA Forms Transportation )","emailMessage/Body":"<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Dear </strong></b>@{body('Get_Email_Respond''s_')?['Full Name']} </p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Greetings, Thank you for your request. After careful evaluation and consideration, we regret to inform you that the request cannot be approved at this time. Thank you for your understanding on this matter. </p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">If you have any further questions or need clarification, please do not hesitate to contact us. </p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">@{body('Signature_-_GA')}</p><br>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365-3","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"equals":["@body('Approval_PIC_GA_')?['outcome']","Approve"]}]},"metadata":{"operationMetadataId":"f346a24d-86bc-467a-ba1c-f3361f3c00f4"},"type":"If"},"Approval_PIC_GA_":{"metadata":{"operationMetadataId":"b3cf83c1-486a-4f78-94c4-ad19fc9f0f8a"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalType":"BasicAwaitAll","WebhookApprovalCreationInput/title":"GA - Transportation Form Approval","WebhookApprovalCreationInput/assignedTo":"hendra.ga@hino.co.id","WebhookApprovalCreationInput/details":"Dear Bapak Hendra\n\nGreetings,\nI hope this email finds you well. I am requesting your approval regarding \nForms Transportation Request \n\nPersonal Data Completion Form:\n@{body('Data_User_')}\n\nRequest Transportation Form : \n@{body('HTML_Taxi_To_Text')}\n@{body('HTML_Car_Rental_To_Text')}\n\n\nPlease carefully examine and evaluate this application. \nIf there are any discrepancies or further clarification is required, I am prepared to\nprovide the necessary information.\n\nThank you for your attention and cooperation in responding to this request.\n\nBest regards\n@{body('Get_Email_Respond''s_')?['Full Name']}","WebhookApprovalCreationInput/requestor":"@body('Get_Email_Respond''s_')?['EMAIL']","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Approval_Div_Head_User":["Succeeded"]},"else":{"actions":{"Notif_Reject_Div_Head_To_User":{"metadata":{"operationMetadataId":"70f079b4-7a87-4f28-a75b-78a2386800cd"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@body('Get_Email_Respond''s_')?['EMAIL']","emailMessage/Subject":"Reject Division Head ( Request Transportation Forms )","emailMessage/Body":"<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Dear </strong></b>@{body('Get_Email_Respond''s_')?['Full Name']}</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Greetings, Thank you for your request. </p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">After careful evaluation and consideration, we regret to inform you that the request cannot be approved at this time.</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Thank you for your understanding on this matter. If you have any further questions or need clarification, please do not hesitate to contact us.</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">@{body('Signature_-_GA')}</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365-3","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"equals":["@body('Approval_Div_Head_User')?['outcome']","Approve"]}]},"metadata":{"operationMetadataId":"0919ed33-cd9c-4728-a6aa-a26296965a72"},"type":"If"}},"runAfter":{"Approval_Departement_Head_User":["Succeeded"]},"else":{"actions":{"Notif_Reject_Dept_Head_To_User":{"metadata":{"operationMetadataId":"1720a16f-30c3-402d-89dc-b4cd7f9868a0"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@body('Get_Email_Respond''s_')?['EMAIL']","emailMessage/Subject":"Reject Departement Head ( Request GA - Transportation Forms )","emailMessage/Body":"<p class=\"editor-paragraph\">Dear @{body('Get_Email_Respond''s_')?['Full Name']} </p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Greetings, Thank you for your request. After careful evaluation and consideration, we regret to inform you that the request cannot be approved at this time. </p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Thank you for your understanding on this matter. If you have any further questions or need clarification, please do not hesitate to contact us.</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">@{body('Signature_-_GA')}</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365-3","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"equals":["@body('Approval_Departement_Head_User')?['outcome']","Approve"]}]},"metadata":{"operationMetadataId":"545e97d4-3fb5-4c59-8ed5-ff88a6df3a07"},"type":"If"},"Notification":{"actions":{"Signature_-_GA":{"metadata":{"operationMetadataId":"0bb02947-32d2-426a-8868-32c5d9f9abfe"},"type":"OpenApiConnection","inputs":{"parameters":{"Content":"<p>&lt;span&gt;<span>\n&lt;b&gt;</span>Best Regards <br>&lt;br&gt;<br>General Affair - HMSI&lt;/b&gt;<span>\n</span>&lt;/span&gt;</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","connectionName":"shared_conversionservice","operationId":"HtmlToText"},"authentication":"@parameters('$authentication')"}},"Data_User_":{"runAfter":{"Signature_-_GA":["Succeeded"]},"metadata":{"operationMetadataId":"9f2a7fae-89d6-4a29-b2f2-31df5ae42769"},"type":"OpenApiConnection","inputs":{"parameters":{"Content":"<ol class=\"editor-list-ol\"><li class=\"editor-listitem\">Name : @{body('Get_Email_Respond''s_')?['Full Name']}</li></ol><ol class=\"editor-list-ol\"><li class=\"editor-listitem\">Employee ID :  @{body('Get_Email_Respond''s_')?['Employee ID']}</li></ol><ol class=\"editor-list-ol\"><li class=\"editor-listitem\">Departement : @{body('Get_Email_Respond''s_')?['Department']}</li></ol><ol class=\"editor-list-ol\"><li class=\"editor-listitem\">Division : @{body('Get_Email_Div_Head')?['Division']}</li></ol>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","connectionName":"shared_conversionservice","operationId":"HtmlToText"},"authentication":"@parameters('$authentication')"}},"Send_Email_Notification_By_Input_Forms_Transportation":{"runAfter":{"Data_User_":["Succeeded"]},"metadata":{"operationMetadataId":"c85bf335-0dd1-4658-a8dc-7674e2db4a80"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@body('Get_Email_Respond''s_')?['EMAIL']","emailMessage/Subject":"REQUEST FORM TRANSPORTATION #@{triggerOutputs()?['body/resourceData/responseId']}","emailMessage/Body":"<p class=\"editor-paragraph\">Hallo @{body('Get_Email_Respond''s_')?['Full Name']}</p><p class=\"editor-paragraph\">Thank you for your submission.You've requested Transportation Rent Form with the following details :</p><p class=\"editor-paragraph\">@{variables('GetTransportationFormsRequest')}</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">@{body('Signature_-_GA')}</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365-3","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Switch_To_Transportation_Requirement":["Succeeded"]},"metadata":{"operationMetadataId":"a8ec6c29-062c-4d47-9670-da1443d84971"},"type":"Scope"},"Initialize_done_variable_":{"runAfter":{"Initialize_done_variable":["Succeeded"]},"metadata":{"operationMetadataId":"f515f3ad-15e1-4c3b-ad00-c265027514d7"},"type":"InitializeVariable","inputs":{"variables":[{"name":"approvalDone","type":"boolean","value":false}]}},"Approval_Departement_Head_User":{"runAfter":{"Initialize_done_variable_":["Succeeded"]},"metadata":{"operationMetadataId":"1228bbf7-b239-48af-aab6-d1d3184a1aa8"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"GA - Transportation Form Approval  ( Departement Head )","WebhookApprovalCreationInput/assignedTo":"@variables('approvalList')","WebhookApprovalCreationInput/details":"Dear Bapak/Ibu  @{body('Get_Email_Dept_Head_')?['Full Name']}\n\nGreetings,\nI hope this email finds you well. I am requesting your approval regarding \nForms Transportation Request\n\nPersonal Data Completion Form:\n@{body('Data_User_')}\n\nRequest Transportation Form : \n@{body('HTML_Taxi_To_Text')}\n@{body('HTML_Car_Rental_To_Text')}\n\n\nPlease carefully examine and evaluate this application. \nIf there are any discrepancies or further clarification is required, I am prepared to\nprovide the necessary information.\n\nThank you for your attention and cooperation in responding to this request.\n\nBest regards\n@{body('Get_Email_Respond''s_')?['Full Name']}","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"authentication":"@parameters('$authentication')"}},"Initialize_done_variable":{"runAfter":{"Notification":["Succeeded"]},"metadata":{"operationMetadataId":"a1b42cc5-7439-4b79-86f1-a6b26302e0dc"},"type":"InitializeVariable","inputs":{"variables":[{"name":"approvalList","type":"string","value":"hmsi@hino.co.id"}]}}},"outputs":{}},"connectionReferences":{"shared_microsoftforms":{"connectionName":"shared-microsoftform-a62b2dd8-8157-4f93-bb66-216f8e4fde46","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified"},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-f6df6211-5551-4553-a355-624cf9dbadaa","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"},"shared_conversionservice":{"connectionName":"shared-conversionser-6b66cb01-f764-46da-94cc-47f368947613","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","tier":"NotSpecified"},"shared_office365-3":{"connectionName":"shared-office365-d929225d-6b11-4a5d-adb6-93ebc745a605","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_approvals":{"connectionName":"shared-approvals-67bde464-a1d5-40b3-887f-27269350c405","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}