DEALER MPS FLOW FORECAST - FINAL ALLOCATION/DealerMPSFlow/Microsoft.Flow/flows/8403da41-c293-4d45-a555-3f1215f26e46/definition.json
{"name":"be548fa9-45ff-4626-b49d-6a5db7285e16","id":"/providers/Microsoft.Flow/flows/be548fa9-45ff-4626-b49d-6a5db7285e16","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Dealer MPS Flow","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"b1ebd69d-7c43-40ca-b067-08f7b2f3d0ee","type":"User","tenantId":"396c58f0-a35c-4292-b77d-251e2626a985"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-07-15T07:06:22.7256736Z","connectionKeySavedTimeKey":"2024-07-15T07:06:22.7256736Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Ketika_file_dibuat_(khusus_properti)":{"recurrence":{"frequency":"Minute","interval":1},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"e13f113f-30f0-423f-864e-d93134370092"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://hmsindonesia.sharepoint.com/sites/DEALERMPS","table":"a37e311c-9f30-461e-8544-6c9fbb26bac6"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnNewFileItems"},"authentication":"@parameters('$authentication')"}}},"actions":{"Dapatkan_properti_file":{"runAfter":{},"metadata":{"operationMetadataId":"1df22d94-adb5-4768-b054-6468db426701"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://hmsindonesia.sharepoint.com/sites/DEALERMPS","table":"a37e311c-9f30-461e-8544-6c9fbb26bac6","id":"@triggerBody()?['ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileItem"},"authentication":"@parameters('$authentication')"}},"Hentikan_berbagi_item_atau_file":{"runAfter":{"Dapatkan_properti_file":["Succeeded"]},"metadata":{"operationMetadataId":"fc80873f-d44f-406b-bc86-50080f991b66"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://hmsindonesia.sharepoint.com/sites/DEALERMPS","table":"a37e311c-9f30-461e-8544-6c9fbb26bac6","id":"@body('Dapatkan_properti_file')?['ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"UnshareItem"},"authentication":"@parameters('$authentication')"}},"Get_User_Detail":{"runAfter":{"Update_File_Sharepoint_From_OneDrive":["Succeeded"]},"metadata":{"operationMetadataId":"dc4f2327-89a9-46b9-acc1-e2b6781b2fd7"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://hmsindonesia.sharepoint.com/sites/DEALERMPS","parameters/method":"GET","parameters/uri":"/_api/web/SiteUsers/getByEmail('waluyo@mpmhino.com')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"authentication":"@parameters('$authentication')"}},"PrincipUser":{"runAfter":{"Get_User_Detail":["Succeeded"]},"metadata":{"operationMetadataId":"59e5e4bb-ae14-4f16-8e71-dbf660645142"},"type":"InitializeVariable","inputs":{"variables":[{"name":"PrincipalUser","type":"string","value":"@{body('Get_User_Detail')['d']['id']}"}]}},"Send_Request_HTTP_User":{"runAfter":{"PrincipUser":["Succeeded"]},"metadata":{"operationMetadataId":"7d216935-42f0-4d8a-9072-a6f089e2aa1d"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://hmsindonesia.sharepoint.com/sites/DEALERMPS","parameters/method":"POST","parameters/uri":"/_api/web/lists/getbytitle('DOCUMENT - DEALER MPS')/items(@{triggerBody()?['ID']})/roleassignments/addroleassignment(principalid=@{variables('PrincipalUser')},roledefid=1073741830)\n"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"authentication":"@parameters('$authentication')"}},"Get_Group_Detail_As_Visitors":{"runAfter":{"Update_File_Sharepoint_From_OneDrive":["Succeeded"]},"metadata":{"operationMetadataId":"7f943216-4dfa-4517-853e-4d3fa9a4ac65"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://hmsindonesia.sharepoint.com/sites/DEALERMPS","parameters/method":"GET","parameters/uri":"/_api/web/SiteGroups/getByName('DEALER MPS Visitors')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"authentication":"@parameters('$authentication')"}},"PrincipGroupVisitors":{"runAfter":{"Get_Group_Detail_As_Visitors":["Succeeded"]},"metadata":{"operationMetadataId":"df3b44f7-1daf-44ea-9acd-e7518d36eee8"},"type":"InitializeVariable","inputs":{"variables":[{"name":"PrincipalGroupVisitors","type":"string","value":"@{body('Get_Group_Detail_As_Visitors')['d']['id']}"}]}},"Send_Request_HTTP_Group_Visitors":{"runAfter":{"PrincipGroupVisitors":["Succeeded"]},"metadata":{"operationMetadataId":"3c5cbabc-2524-4685-8d90-a9036224b88b"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://hmsindonesia.sharepoint.com/sites/DEALERMPS","parameters/method":"POST","parameters/uri":"/_api/web/lists/getbytitle('DOCUMENT - DEALER MPS')/items(@{body('Dapatkan_properti_file')?['ID']})/roleassignments/addroleassignment(principalid=@{variables('PrincipalGroupVisitors')},roledefid=1073741924)\n"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"authentication":"@parameters('$authentication')"}},"Get_Group_Detail_As_Members":{"runAfter":{"Update_File_Sharepoint_From_OneDrive":["Succeeded"]},"metadata":{"operationMetadataId":"6c69bfa0-c9b0-4bf6-9b10-a9ca61f5a653"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://hmsindonesia.sharepoint.com/sites/DEALERMPS","parameters/method":"GET","parameters/uri":"/_api/web/SiteGroups/getByName('DEALER MPS Members')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"authentication":"@parameters('$authentication')"}},"PrincipGroupMembers":{"runAfter":{"Get_Group_Detail_As_Members":["Succeeded"]},"metadata":{"operationMetadataId":"cf4b1ab0-2161-4a2f-9a4c-ffbcf287ee48"},"type":"InitializeVariable","inputs":{"variables":[{"name":"PrincipalGroupMembers","type":"string","value":"@{body('Get_Group_Detail_As_Members')['d']['id']}"}]}},"Send_Request_HTTP_Group_Members":{"runAfter":{"PrincipGroupMembers":["Succeeded"]},"metadata":{"operationMetadataId":"1b7947dc-b306-43d9-b442-02b63c34ebdf"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://hmsindonesia.sharepoint.com/sites/DEALERMPS","parameters/method":"POST","parameters/uri":"/_api/web/lists/getbytitle('DOCUMENT - DEALER MPS')/items(@{body('Dapatkan_properti_file')?['ID']})/roleassignments/addroleassignment(principalid=@{variables('PrincipalGroupMembers')},roledefid=1073741830)\n"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"HttpRequest"},"authentication":"@parameters('$authentication')"}},"Copy_To_OneDrive":{"actions":{"Dapatkan_konten_file":{"metadata":{"operationMetadataId":"236b05de-3e0e-40f5-aff1-fe7c013f7aa0"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://hmsindonesia.sharepoint.com/sites/DEALERMPS","id":"@body('Dapatkan_properti_file')?['{Identifier}']","inferContentType":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"authentication":"@parameters('$authentication')"}},"Buat_file":{"runAfter":{"Dapatkan_konten_file":["Succeeded"]},"metadata":{"operationMetadataId":"a7df3adb-993a-49ff-b8e3-b460c4fb7f6f"},"type":"OpenApiConnection","inputs":{"parameters":{"folderPath":"/DEALER FORECAST/DEALER MPS","name":"@{body('Dapatkan_properti_file')?['{Name}']}.xlsx","body":"@body('Dapatkan_konten_file')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Run_script":{"runAfter":{"Buat_file":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!XJDfAIeLy0aeIMbEN3WQJ9ukwNppv79Hk75uuWzqvRW2qIIUVvzBT7QtZFjmdt7W","file":"@outputs('Buat_file')?['body/Id']","scriptId":"ms-officescript%3A%2F%2Fonedrive_business_itemlink%2F01NV53542T35FQ7NJORRDZUX6JSXNEBIVZ"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"RunScriptProd"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Hentikan_berbagi_item_atau_file":["Succeeded"]},"type":"Scope"},"Update_File_Sharepoint_From_OneDrive":{"actions":{"Get_Content_File":{"type":"OpenApiConnection","inputs":{"parameters":{"id":"@outputs('Buat_file')?['body/Id']","inferContentType":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"GetFileContent"},"authentication":"@parameters('$authentication')"}},"Update_File":{"runAfter":{"Get_Content_File":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://hmsindonesia.sharepoint.com/sites/DEALERMPS","id":"@body('Dapatkan_properti_file')?['{FullPath}']","body":"@body('Get_Content_File')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"UpdateFile"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Copy_To_OneDrive":["Succeeded"]},"type":"Scope"}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-058628ee-0569-4d3a-96e6-2fa44800a09a","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-c7adc44e-466b-4efa-8b53-c34ff535db1a","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-f6df6211-5551-4553-a355-624cf9dbadaa","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}