Flow-Request-IT-Forms/Microsoft.Flow/flows/638f88ac-2702-49b1-92e2-064235af8f5a/definition.json
{"name":"b02c882c-2712-46d5-a497-4f6c08892b59","id":"/providers/Microsoft.Flow/flows/b02c882c-2712-46d5-a497-4f6c08892b59","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Request IT Forms - UAT","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"b1ebd69d-7c43-40ca-b067-08f7b2f3d0ee","type":"User","tenantId":"396c58f0-a35c-4292-b77d-251e2626a985"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-09-03T10:29:21.865792Z","connectionKeySavedTimeKey":"2024-09-03T10:29:21.865792Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Ketika_tanggapan_baru_dikirim":{"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"c1aae22d-94e0-4a85-933f-84b4c3f82d26"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"form_id":"8FhsOVyjkkK3fSUeJiaphZ3W67FDfMpAsGcI97Lz0O5UNFVGRTlOVVdVUExQNzZQS1MwU1hNOEFFUC4u"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"authentication":"@parameters('$authentication')"}}},"actions":{"Dapatkan_detail_tanggapan":{"runAfter":{},"metadata":{"operationMetadataId":"9d0dd628-24ce-4006-83c1-6a36ed8ad0ef"},"type":"OpenApiConnection","inputs":{"parameters":{"form_id":"8FhsOVyjkkK3fSUeJiaphZ3W67FDfMpAsGcI97Lz0O5UNFVGRTlOVVdVUExQNzZQS1MwU1hNOEFFUC4u","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"authentication":"@parameters('$authentication')"}},"GET_RESPOND_EMAIL_TO_DATA_USER":{"runAfter":{"Dapatkan_detail_tanggapan":["Succeeded"]},"metadata":{"01NV535427E7BEFFFYJZC3XY523JESZXHG":"/Latihan - Salin.xlsx","01NV5354ZKTGUEE2AEJ5BKRDQ3SSWAWHRC":"/DATA USER.xlsx","tableId":"{3861173F-D510-4299-9EF6-1664DFD94FDA}","operationMetadataId":"6295eca9-181f-4a7a-9eb2-bdedac4f3746"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!XJDfAIeLy0aeIMbEN3WQJ9ukwNppv79Hk75uuWzqvRW2qIIUVvzBT7QtZFjmdt7W","file":"01NV5354ZKTGUEE2AEJ5BKRDQ3SSWAWHRC","table":"{3861173F-D510-4299-9EF6-1664DFD94FDA}","idColumn":"Email","id":"@body('Dapatkan_detail_tanggapan')?['responder']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"getITFORMRequest":{"runAfter":{"GET_FORMS_REQUIREMENT":["Succeeded"]},"metadata":{"operationMetadataId":"ed452d17-96dc-4f05-ab57-1ec02566b6f7"},"type":"InitializeVariable","inputs":{"variables":[{"name":"getITFORMRequest","type":"string","value":"@body('GET_FORMS_REQUIREMENT')?['Form Requirements']"}]}},"Switch_ITFORMRequest":{"runAfter":{"getITFORMRequest":["Succeeded"]},"cases":{"ERP_and_IDS_Apps_Request":{"case":"ERP - IDS Apps Request","actions":{"REQUEST_IDS_APPS_":{"metadata":{"operationMetadataId":"2ed83d8c-b06c-4edf-b10e-b5109e33af32"},"type":"SetVariable","inputs":{"name":"getITFORMRequest","value":"<ol>ERP - IDS Apps Priority : @{body('Dapatkan_detail_tanggapan')?['re4b23ea3370d416bb5159b33183d002e']} </ol>\n<ol>ERP - IDS Apps Request : @{body('Dapatkan_detail_tanggapan')?['r615f8ccc805f42ea8d095a90ec177ec2']}</ol>"}},"REQUEST_IDS_APPS_HTML":{"runAfter":{"REQUEST_IDS_APPS_":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"Content":"<p class=\"editor-paragraph\">@{variables('getITFORMRequest')}</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","connectionName":"shared_conversionservice","operationId":"HtmlToText"},"authentication":"@parameters('$authentication')"}}}},"Application_Request":{"case":"Application Request","actions":{"REQUEST_Application_":{"metadata":{"operationMetadataId":"6e7cb326-3ffc-4b56-8dad-7dd59c1fe993"},"type":"SetVariable","inputs":{"name":"getITFORMRequest","value":"<ol>Application Priority : @{body('Dapatkan_detail_tanggapan')?['rb58f2e0de833407d92c529cec3c964b6']}</ol>\n<ol>Application Request : @{body('Dapatkan_detail_tanggapan')?['r0c7373d577d5456f945c0e1403bc840a']}</ol>"}},"REQUEST_NON_ERP_SISTEM_HTML":{"runAfter":{"REQUEST_Application_":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"Content":"<p class=\"editor-paragraph\">@{variables('getITFORMRequest')}</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","connectionName":"shared_conversionservice","operationId":"HtmlToText"},"authentication":"@parameters('$authentication')"}}}},"Network_Access_Request":{"case":"Network Access Request","actions":{"REQUEST_NETWORK_ACCESS":{"metadata":{"operationMetadataId":"1f9a4cd3-bb50-4813-b7c3-ebac20df152c"},"type":"SetVariable","inputs":{"name":"getITFORMRequest","value":"<ol>Network Access Priority : @{body('Dapatkan_detail_tanggapan')?['r30ab186d78ff4b93b2a63900b4ffbf9b']}</ol>\n<ol>Network Access Request : @{body('Dapatkan_detail_tanggapan')?['r6ae58323d8644526978de39e4ca6e293']}</ol>"}},"REQUEST_NETWORK_ACCESS_HTML":{"runAfter":{"REQUEST_NETWORK_ACCESS":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"Content":"<p class=\"editor-paragraph\">@{variables('getITFORMRequest')}</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","connectionName":"shared_conversionservice","operationId":"HtmlToText"},"authentication":"@parameters('$authentication')"}}}},"Software_Request_(Installation)":{"case":"Software Request (Installation)","actions":{"REQUEST_SOFTWARE_ACCESS":{"metadata":{"operationMetadataId":"8f4c558e-ebad-4687-9351-1ae2ce67e353"},"type":"SetVariable","inputs":{"name":"getITFORMRequest","value":"<ol>Software Request Priority : @{body('Dapatkan_detail_tanggapan')?['rce1b9aa98c124377abeac3a6c91fcdf6']}</ol>\n<ol>Software Request Notes : @{body('Dapatkan_detail_tanggapan')?['r80e1c1984bcb4396a4dc3af6c4edb79c']}</ol>"}},"REQUEST_SOFTWARE_ACCESS_HTML":{"runAfter":{"REQUEST_SOFTWARE_ACCESS":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"Content":"<p class=\"editor-paragraph\">@{variables('getITFORMRequest')}</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","connectionName":"shared_conversionservice","operationId":"HtmlToText"},"authentication":"@parameters('$authentication')"}}}},"Hardware_Request":{"case":"Hardware Request","actions":{"REQUEST_HARDWARE_ACCESS":{"metadata":{"operationMetadataId":"215fe3a5-a3ec-4d24-b058-83f9cc81e907"},"type":"SetVariable","inputs":{"name":"getITFORMRequest","value":"<ol>Hardware Request Priority : @{body('Dapatkan_detail_tanggapan')?['r0aaa2ae6d0b84425b27d635a2de22c2b']}</ol>\n<ol>Hardware Request Notes : @{body('Dapatkan_detail_tanggapan')?['r3913f74ad9e34bb3aa060b536f3d3cca']}</ol>"}},"REQUEST_HARDWARE_ACCESS_HTML":{"runAfter":{"REQUEST_HARDWARE_ACCESS":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"Content":"<p class=\"editor-paragraph\">@{variables('getITFORMRequest')}</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","connectionName":"shared_conversionservice","operationId":"HtmlToText"},"authentication":"@parameters('$authentication')"}}}},"Register_Account":{"case":"Register Account","actions":{"REQUEST_NEW_ACCOUNT_EMPLOYEE_":{"metadata":{"operationMetadataId":"d9a35ddd-a76f-46f2-a882-4f555a1bef51"},"type":"SetVariable","inputs":{"name":"getITFORMRequest","value":"<ol>Employee Name : @{body('Dapatkan_detail_tanggapan')?['r11c327eb70024a9381dfdfc7cd9f7d67']}</ol>\n<ol>Employee NIK : @{body('Dapatkan_detail_tanggapan')?['r3ad84d82ee9846fda3fcbb14a33d47a1']}</ol>\n<ol>Employee Division : @{body('Dapatkan_detail_tanggapan')?['r36294535145740edb459a8a5bd842490']}</ol>\n<ol>Employee Department : @{body('Dapatkan_detail_tanggapan')?['raaf14417c7cf460f987673c0feb3246d']}</ol>\n<ol>IT Tools : @{body('Dapatkan_detail_tanggapan')?['r0e46a4c834aa4efc8539ee86074d33ff']}</ol>\n<ol>Register Employee Priority : @{body('Dapatkan_detail_tanggapan')?['r5654187c2a974547a0766fd05b9a50f3']}</ol>\n<ol>Employee Form Notes : @{body('Dapatkan_detail_tanggapan')?['re1262c786a534dc2bb047620c2be8438']}</ol>\n\n"}},"REQUEST_NEW_ACCOUNT_EMPLOYEE_HTML":{"runAfter":{"REQUEST_NEW_ACCOUNT_EMPLOYEE_":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"Content":"<p class=\"editor-paragraph\">@{variables('getITFORMRequest')}</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","connectionName":"shared_conversionservice","operationId":"HtmlToText"},"authentication":"@parameters('$authentication')"}}}}},"default":{"actions":{}},"expression":"@variables('getITFORMRequest')","metadata":{"operationMetadataId":"e0e94481-abe4-4bf2-a6eb-648906ae9c6a"},"type":"Switch"},"Approval_Dept_Head_":{"runAfter":{"Cakupan":["Succeeded"]},"metadata":{"operationMetadataId":"ac35330b-fc17-4ec3-be16-a86ec5431c69"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalType":"BasicAwaitAll","WebhookApprovalCreationInput/title":"IT Form Approval (Departement Head)","WebhookApprovalCreationInput/assignedTo":"@{body('GET_EMAIL_DEPT_HEAD_BY_DEPT_NAME_')?['EMAIL']}","WebhookApprovalCreationInput/details":"Dear Bapak/Ibu @{body('GET_EMAIL_DEPT_HEAD_BY_DEPT_NAME_')?['Full Name']}\n\nGreetings,\nI hope this email finds you well. I am requesting your approval regarding \nhardware and software requests \n\nPersonal Data Completion Form:\n@{outputs('DataUser')}\n\nIT Form : \n@{body('REQUEST_IDS_APPS_HTML')}\n@{body('REQUEST_NON_ERP_SISTEM_HTML')}\n@{body('REQUEST_NETWORK_ACCESS_HTML')}\n@{body('REQUEST_SOFTWARE_ACCESS_HTML')}\n@{body('REQUEST_HARDWARE_ACCESS_HTML')}\n@{body('REQUEST_NEW_ACCOUNT_EMPLOYEE_HTML')}\n\n\nPlease carefully examine and evaluate this application. \nIf there are any discrepancies or further clarification is required, I am prepared to\nprovide the necessary information.\n\nThank you for your attention and cooperation in responding to this request.\nAfter obtaining your approval, we will proceed with the procurement process in accordance with company policy.\n\nBest regards\nIT Team","WebhookApprovalCreationInput/requestor":"@body('GET_RESPOND_EMAIL_TO_DATA_USER')?['EMAIL']","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"authentication":"@parameters('$authentication')"}},"Condition_Approval_And_Reject_Dept_Head":{"actions":{"Condition_Approval_And_Reject_Div_Head":{"actions":{"Approval_Dept_Head_IT":{"metadata":{"operationMetadataId":"881aaa88-2cc4-405d-a6f3-729735195625"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalType":"BasicAwaitAll","WebhookApprovalCreationInput/title":"IT Form Approval (Departement Head IT) ","WebhookApprovalCreationInput/assignedTo":"  @{body('GET_FORMS_REQUIREMENT')?['EMAIL']}","WebhookApprovalCreationInput/details":"Dear Bapak/Ibu @{body('GET_FORMS_REQUIREMENT')?['NAME']}\n\nGreetings,\nI hope this email finds you well. I am requesting your approval regarding \nhardware and software requests \n\nPersonal Data Completion Form:\n@{outputs('DataUser')}\n\nIT Form :\n@{body('REQUEST_NON_ERP_SISTEM_HTML')}\n@{body('REQUEST_NETWORK_ACCESS_HTML')}\n@{body('REQUEST_SOFTWARE_ACCESS_HTML')}\n@{body('REQUEST_HARDWARE_ACCESS_HTML')}\n@{body('REQUEST_NEW_ACCOUNT_EMPLOYEE_HTML')}\n\n\nPlease carefully examine and evaluate this application. \nIf there are any discrepancies or further clarification is required, I am prepared to\nprovide the necessary information.\n\nThank you for your attention and cooperation in responding to this request.\nAfter obtaining your approval, we will proceed with the procurement process in accordance with company policy.\n\nBest regards\nIT Team","WebhookApprovalCreationInput/requestor":"@body('GET_RESPOND_EMAIL_TO_DATA_USER')?['EMAIL']","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"authentication":"@parameters('$authentication')"}},"Condition_Approval_And_Reject_Dept_Head_IT":{"actions":{"Approval_ServiceDesk_(_Otomatis_To_User_)_":{"metadata":{"operationMetadataId":"d2526c77-a1a0-4a4d-9e28-37a3fe9b9215"},"type":"OpenApiConnection","inputs":{"parameters":{"approvalType":"BasicAwaitAll","ApprovalCreationInput/title":"IT Form Approval (Departement Head IT)","ApprovalCreationInput/assignedTo":"IT.ServiceDesk@hino.co.id","ApprovalCreationInput/details":"Dear Helpdesk ( IT FORMS #@{triggerOutputs()?['body/resourceData/responseId']} )\n\nWe are pleased to inform you that your IT Form Request has been approved by the Head of Department IT\n\nPersonal Data Completion Form:\n@{outputs('DataUser')}\n\nIT Form :\n@{body('REQUEST_NON_ERP_SISTEM_HTML')}\n@{body('REQUEST_NETWORK_ACCESS_HTML')}\n@{body('REQUEST_SOFTWARE_ACCESS_HTML')}\n@{body('REQUEST_HARDWARE_ACCESS_HTML')}\n@{body('REQUEST_NEW_ACCOUNT_EMPLOYEE_HTML')}\n\n\nRegards,\nIT Team\n","ApprovalCreationInput/requestor":"@body('GET_RESPOND_EMAIL_TO_DATA_USER')?['EMAIL']","ApprovalCreationInput/enableNotifications":true,"ApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"CreateAnApproval"},"authentication":"@parameters('$authentication')"}},"Notif_To_Helpdesk_By_Approved_Dept_Head_IT":{"runAfter":{"Approval_ServiceDesk_(_Otomatis_To_User_)_":["Succeeded"]},"metadata":{"operationMetadataId":"7a1b99e5-81a1-40d7-8245-5c9778b05072"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"IT.ServiceDesk@hino.co.id","emailMessage/Subject":"IT FORMS REQUEST : @{body('GET_FORMS_REQUIREMENT')?['Form Requirements']}","emailMessage/Body":"<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Dear Helpdesk</strong></b><b><strong class=\"editor-text-bold\"> ( IT FORMS #</strong></b>@{triggerOutputs()?['body/resourceData/responseId']}<b><strong class=\"editor-text-bold\"> )</strong></b></p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">We are pleased to inform you that your IT Form Request has been approved by the Head of Department IT.</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Personal Data Completion Form:</strong></b></p><p class=\"editor-paragraph\">1. Name : @{body('GET_RESPOND_EMAIL_TO_DATA_USER')?['Full Name']} </p><p class=\"editor-paragraph\">2. Departement : @{body('GET_RESPOND_EMAIL_TO_DATA_USER')?['Department']} </p><p class=\"editor-paragraph\">3. Division : @{body('GET_RESPOND_EMAIL_TO_DATA_USER')?['Division']}</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">IT Form : @{variables('getITFORMRequest')}</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Regards,</p><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">IT Team</strong></b></p><br>","emailMessage/From":"@body('GET_RESPOND_EMAIL_TO_DATA_USER')?['Email']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365-2","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Approve_Dept_Head_IT_NotIf_To_User":{"runAfter":{"Notif_To_Helpdesk_By_Approved_Dept_Head_IT":["Succeeded"]},"metadata":{"operationMetadataId":"7a1b99e5-81a1-40d7-8245-5c9778b05072"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@body('GET_RESPOND_EMAIL_TO_DATA_USER')?['EMAIL']","emailMessage/Subject":"IT Form Approval (Departement Head IT)","emailMessage/Body":"<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Dear </strong></b>@{body('GET_RESPOND_EMAIL_TO_DATA_USER')?['Full Name']}</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">We are pleased to inform you that your IT Form Request has been approved by the Head of Department IT</p><br><p class=\"editor-paragraph\">IT Form : @{variables('getITFORMRequest')}</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Thank you for your request. &nbsp;</p><p class=\"editor-paragraph\">This request will be forwarded to IT Technician through IT Service Desk.</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Regards,</p><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">IT Team</strong></b></p>","emailMessage/From":"it.servicedesk@hino.co.id","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365-1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Approval_Dept_Head_IT":["Succeeded"]},"else":{"actions":{"Reject_Dept_Head_IT_NotIf_To_User_IT_":{"metadata":{"operationMetadataId":"7a1b99e5-81a1-40d7-8245-5c9778b05072"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@body('GET_RESPOND_EMAIL_TO_DATA_USER')?['EMAIL']","emailMessage/Subject":"IT Form Reject (Departement Head IT)","emailMessage/Body":"<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Dear </strong></b>@{body('GET_RESPOND_EMAIL_TO_DATA_USER')?['Full Name']}</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">We are pleased to inform you that your IT Form Request has Reject by Head Departement IT</p><br><p class=\"editor-paragraph\">IT Form : @{variables('getITFORMRequest')}</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\"><span>Thank you for your understanding on this matter. If you have any further questions or need clarification, please do not hesitate to contact us.\nSincerely.\n\n\nIT Team</span></p>","emailMessage/From":"it.servicedesk@hino.co.id","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365-1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"equals":["@body('Approval_Dept_Head_IT')?['outcome']","Approve"]}]},"type":"If"}},"runAfter":{"Approval_Div_Head":["Succeeded"]},"else":{"actions":{"Reject_Notif_DIV_HEAD_To_User":{"metadata":{"operationMetadataId":"102fdb4f-ad7d-446d-9a32-c54f607fdd63"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@body('GET_RESPOND_EMAIL_TO_DATA_USER')?['EMAIL']","emailMessage/Subject":"Reject Division Head ( Request IT Forms )","emailMessage/Body":"<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Dear </strong></b>@{body('GET_RESPOND_EMAIL_TO_DATA_USER')?['Full Name']}</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Greetings, Thank you for your request IT Forms.</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">After careful evaluation and consideration, we regret to inform you that the request cannot be approved at this time.</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Thank you for your understanding on this matter. If you have any further questions or need clarification, please do not hesitate to contact us.</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Sincerely.</strong></b></p><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">IT Team</strong></b></p>","emailMessage/From":"it.servicedesk@hino.co.id","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365-1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"equals":["@body('Approval_Div_Head')?['outcome']","Approve"]}]},"metadata":{"operationMetadataId":"514e8470-90df-4b7c-af7d-7c15d1197379"},"type":"If"},"Notif_Departement_Head":{"metadata":{"operationMetadataId":"7a1b99e5-81a1-40d7-8245-5c9778b05072"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@body('GET_RESPOND_EMAIL_TO_DATA_USER')?['EMAIL']","emailMessage/Subject":"Approved Departement Head ( Request IT Forms )","emailMessage/Body":"<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Dear </strong></b>@{body('GET_RESPOND_EMAIL_TO_DATA_USER')?['Full Name']}</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">We are pleased to inform you that your IT Form Request has been approved by the Departement Head.</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">IT Form :</p><p class=\"editor-paragraph\">@{variables('getITFORMRequest')}</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Regards,</p><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">IT Team</strong></b></p><br>","emailMessage/From":"it.servicedesk@hino.co.id","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365-1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Approval_Div_Head":{"runAfter":{"Notif_Departement_Head":["Succeeded"]},"metadata":{"operationMetadataId":"ac35330b-fc17-4ec3-be16-a86ec5431c69"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalType":"BasicAwaitAll","WebhookApprovalCreationInput/title":"IT Form Approval (Division Head)","WebhookApprovalCreationInput/assignedTo":"@{body('GET_EMAIL_DEPT_HEAD_BY_DEPT_NAME_')?['EMAIL']}","WebhookApprovalCreationInput/details":"Dear Bapak/Ibu @{body('GET_EMAIL_DIV_HEAD_BY_DIVISION_NAME')?['Full Name']}\n\nGreetings,\nI hope this email finds you well. I am requesting your approval regarding \nhardware and software requests \n\nPersonal Data Completion Form:\n@{outputs('DataUser')}\n\nIT Form : \n@{body('REQUEST_IDS_APPS_HTML')}\n@{body('REQUEST_NON_ERP_SISTEM_HTML')}\n@{body('REQUEST_NETWORK_ACCESS_HTML')}\n@{body('REQUEST_SOFTWARE_ACCESS_HTML')}\n@{body('REQUEST_HARDWARE_ACCESS_HTML')}\n@{body('REQUEST_NEW_ACCOUNT_EMPLOYEE_HTML')}\n\n\nPlease carefully examine and evaluate this application. \nIf there are any discrepancies or further clarification is required, I am prepared to\nprovide the necessary information.\n\nThank you for your attention and cooperation in responding to this request.\nAfter obtaining your approval, we will proceed with the procurement process in accordance with company policy.\n\nBest regards\nIT Team","WebhookApprovalCreationInput/requestor":"@body('GET_RESPOND_EMAIL_TO_DATA_USER')?['EMAIL']","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Approval_Dept_Head_":["Succeeded"]},"else":{"actions":{"Reject_Notif_DEPT_HEAD_To_User":{"metadata":{"operationMetadataId":"102fdb4f-ad7d-446d-9a32-c54f607fdd63"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@body('GET_RESPOND_EMAIL_TO_DATA_USER')?['EMAIL']","emailMessage/Subject":"Reject Departement Head ( Request IT Forms )","emailMessage/Body":"<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Dear </strong></b>@{body('GET_RESPOND_EMAIL_TO_DATA_USER')?['Full Name']}</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Greetings, Thank you for your request IT Forms </p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">After careful evaluation and consideration, we regret to inform you that the request cannot be approved at this time. Thank you for your understanding on this matter.</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">If you have any further questions or need clarification, please do not hesitate to contact us.</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Sincerely.</strong></b></p><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">IT Team</strong></b></p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365-1","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"equals":["@body('Approval_Dept_Head_')?['outcome']","Approve"]}]},"metadata":{"operationMetadataId":"348ef969-0fe0-47fa-a56b-04e0df001c80"},"type":"If"},"GET_FORMS_REQUIREMENT":{"runAfter":{"GET_RESPOND_EMAIL_TO_DATA_USER":["Succeeded"]},"metadata":{"01NV5354ZKTGUEE2AEJ5BKRDQ3SSWAWHRC":"/DATA USER.xlsx","tableId":"{D91AED8C-B216-47F7-87C4-6117650F358F}","01NV535473RJ654IFOLZDZNNG2QMLM67QN":"/DATA DIV.xlsx","01NV5354Y4F36QHMRPLZALMMURTEBVJFTI":"/Document Project/Form Requirements - Email.xlsx","operationMetadataId":"a37ebbce-7c71-4ca3-9bf9-3a5263bfc514"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!XJDfAIeLy0aeIMbEN3WQJ9ukwNppv79Hk75uuWzqvRW2qIIUVvzBT7QtZFjmdt7W","file":"01NV5354Y4F36QHMRPLZALMMURTEBVJFTI","table":"{D91AED8C-B216-47F7-87C4-6117650F358F}","idColumn":"Form Requirements","id":"@body('Dapatkan_detail_tanggapan')?['re4da338453d14133b6cda7004424303d']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Cakupan":{"actions":{"DataUser":{"metadata":{"operationMetadataId":"d32b0e3f-a5a8-45b3-b74c-9f183c8a43d1"},"type":"Compose","inputs":"1. Name : @{body('GET_RESPOND_EMAIL_TO_DATA_USER')?['Full Name']}\n2. Departement : @{body('GET_RESPOND_EMAIL_TO_DATA_USER')?['Department']}\n3. Division : @{body('GET_RESPOND_EMAIL_TO_DATA_USER')?['Division']}\n"},"Send_Email_Notification_By_INPUT_FORMS":{"runAfter":{"DataUser":["Succeeded"]},"metadata":{"operationMetadataId":"c685387d-9013-4e6f-8572-a94de3f3b759"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@body('GET_RESPOND_EMAIL_TO_DATA_USER')?['EMAIL']","emailMessage/Subject":"IT REQUEST FORM #@{triggerOutputs()?['body/resourceData/responseId']}","emailMessage/Body":"<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Hi </strong></b>@{body('GET_RESPOND_EMAIL_TO_DATA_USER')?['NAME']}</p><br><p class=\"editor-paragraph\">you have filled it forms request fill out your forms : @{variables('getITFORMRequest')}</p><p class=\"editor-paragraph\"></p><br><p class=\"editor-paragraph\">Regards</p><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">IT Team</strong></b></p>","emailMessage/From":"it.servicedesk@hino.co.id","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365-2","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"GET_EMAIL_DEPT_HEAD_BY_DEPT_NAME_":{"runAfter":{"Send_Email_Notification_By_INPUT_FORMS":["Succeeded"]},"metadata":{"01NV5354YI5QD3BSNZBVEZOREIXCFN2BVU":"/Document Project/DATA DEPT HEAD.xlsx","tableId":"{1BEDDF83-6EE7-4A1B-8D97-55620698D2B2}","operationMetadataId":"955ee1dd-121c-439b-937c-2c3371579ca8"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!XJDfAIeLy0aeIMbEN3WQJ9ukwNppv79Hk75uuWzqvRW2qIIUVvzBT7QtZFjmdt7W","file":"01NV5354YI5QD3BSNZBVEZOREIXCFN2BVU","table":"{1BEDDF83-6EE7-4A1B-8D97-55620698D2B2}","idColumn":"Department","id":"@body('GET_RESPOND_EMAIL_TO_DATA_USER')?['Department']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"GET_EMAIL_DIV_HEAD_BY_DIVISION_NAME":{"runAfter":{"GET_EMAIL_DEPT_HEAD_BY_DEPT_NAME_":["Succeeded"]},"metadata":{"01NV535473RJ654IFOLZDZNNG2QMLM67QN":"/DATA DIV.xlsx","tableId":"{FD1FC519-D1E3-41AE-BB58-C6F07717B4DA}","operationMetadataId":"752151d3-9c3a-4ef0-a294-077c33ccf97f"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!XJDfAIeLy0aeIMbEN3WQJ9ukwNppv79Hk75uuWzqvRW2qIIUVvzBT7QtZFjmdt7W","file":"01NV535473RJ654IFOLZDZNNG2QMLM67QN","table":"{FD1FC519-D1E3-41AE-BB58-C6F07717B4DA}","idColumn":"Division","id":"@body('GET_RESPOND_EMAIL_TO_DATA_USER')?['Division']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Switch_ITFORMRequest":["Succeeded"]},"type":"Scope"}},"outputs":{}},"connectionReferences":{"shared_microsoftforms":{"connectionName":"shared-microsoftform-a62b2dd8-8157-4f93-bb66-216f8e4fde46","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified"},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-f6df6211-5551-4553-a355-624cf9dbadaa","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified"},"shared_conversionservice":{"connectionName":"shared-conversionser-6b66cb01-f764-46da-94cc-47f368947613","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_conversionservice","tier":"NotSpecified"},"shared_approvals":{"connectionName":"shared-approvals-67bde464-a1d5-40b3-887f-27269350c405","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"},"shared_office365-2":{"connectionName":"c5e57bbf05ca4ea699390ef481588212","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_office365-1":{"connectionName":"shared-office365-ddd41ed5-9d60-4a9e-9217-04319fa03de0","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}